
@font-face {
  font-family: 'mandira';
  src: url('assets/MandiraRegular-w1nnP.ttf') format('truetype');
  /* Add additional font formats if necessary */
}
html, body {
  width: 100%;
  height: 100%;
  /* Ensure the HTML and body elements take up the full height and width of the viewport */
}

body {
  background: linear-gradient(-45deg, #ffffff, #F5F0E1, #ffffff, #ffe07a);
  /* Define a linear gradient background with four colors */
  background-size: 400% 400%;
  /* Set the background size to 400% by 400%, creating a larger area for the gradient to animate within */
  animation: gradient 8s ease infinite;
  /* Apply the 'gradient' animation to the body element, specifying a duration of 15 seconds, easing function, and infinite iteration */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    /* At the start of the animation, position the gradient at the left-center */
  }
  50% {
    background-position: 100% 50%;
    /* At the midpoint of the animation, position the gradient at the right-center */
  }
  100% {
    background-position: 0% 50%;
    /* At the end of the animation, return the gradient to the left-center */
  }
  
}
