
      @font-face {
        font-family: 'mandira';
        src: url('assets/MandiraRegular-w1nnP.ttf') format('truetype');
        /* Add additional font formats if necessary */
      }
      @keyframes slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
      
      .logos {
        overflow: hidden;
        padding: 30px 0;
        background: #7b70a5;
        white-space: nowrap;
        position: relative;
      }
      
      .logos:before,
      .logos:after {
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;
        content: "";
        z-index: 2;
      }
      
      .logos:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #7b70a5);
      }
      
      .logos:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #7b70a5);
      }
      
      /* .logos:hover .logos-slide {
        animation-play-state: paused;
      } */
      
      
      
      .logos-slide {
        display: inline-block;
        animation: 35s slide infinite linear;
      }
      
      .logos-slide img {
        height: 50px;
        margin: 0 40px;
      }
      // Colors
$primary: #52A3B6;
$primary-ultralight: mix(white, $primary, 80%);
$primary-light: mix(white, $primary, 25%);
$primary-dark: mix(black, $primary, 25%);
$primary-ultradark: mix(black, $primary, 80%);
$black: #333333;
$white: #eeeeee;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
$open-sans: 'Open Sans', Helvetica, arial, sans-serif;
$raleway: 'Raleway', 'Open Sans', sans-serif;

// Misc
$max-width: 800px;


// ------------------------------------------------------


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: $open-sans;
    color: $primary;
    background-color: $black;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: $raleway;
    text-align: center;
}

a {
    color: $black;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header {
    position: relative;
    overflow: visible;
    
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50px;
        height: 2px;
        background-color: $primary;
        transform: translateX(-50%);
    }
}

.pen__heading {}

.pen__subheading {
    margin-bottom: 0;
    
    a {
        color: $primary;
        
        &:hover,
        &:focus {
            color: $primary-light;
        }
    }
}

.container {
    overflow: hidden;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.col {
    padding: 1rem;
    
    @media (min-width: $max-width) {
        width: 50%;
        float: left;

        &:nth-of-type(2n+1) {
            clear: left;
        }        
    }
    
    &.col--full {
        width: 100%;
    }
}




